<div style="margin-bottom: 50px;">
    <h3>Detalii de livrare</h3> <br>
    <table class="table">
        <tr>
            <th>Prenume</th>
            <td>{{ order.payload.val().shipping.firstName }}</td>
        </tr>
        <tr>
            <th>Nume</th>
            <td>{{ order.payload.val().shipping.lastName }}</td>
        </tr>
        <tr>
            <th>Nume de utilizator</th>
            <td>{{ order.payload.val().shipping.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ order.payload.val().shipping.email }}</td>
        </tr>
        <tr>
            <th>Oras</th>
            <td>{{ order.payload.val().shipping.city }}</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>{{ order.payload.val().shipping.address }}</td>
        </tr>
        <tr>
            <th>Cod postal</th>
            <td>{{ order.payload.val().shipping.postalCode }}</td>
        </tr>
    </table>
</div>

<hr style="background-color: chocolate;">

<div style="margin-top: 50; margin-bottom: 50px;">
    <h3>Starea comenzii</h3> <br>
    <form #f="ngForm" (ngSubmit)="update(f.value)">
        <div class="form-group">
            <label for="orderStatus"><b>Starea comenzii</b> - {{ order.payload.val().orderStatus }}</label>
            <select #orderStatus="ngModel" ngModel name="orderStatus" id="orderStatus" class="form-control" required>
                <option *ngFor="let c of orderStatus$ | async" [value]="c.payload.val().description">
                    {{ c.payload.val().name }} - {{ c.payload.val().description }}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="orderStatus.touched && orderStatus.invalid">Acest camp este obligatoriu.</div>
        </div>
        <button class="btn btn-primary" [disabled]="f.invalid" style="margin-right:10px;">Actualizare</button>
    </form>
</div>

<hr style="background-color: chocolate;">

<h3 style="margin-top: 50;">Produse comandate</h3> <br>
<div class="card-group">
    <div class="card col-md-3 col-lg-3 d-flex align-items-stretch" style="width: 18rem;" *ngFor="let i of order2">
        <img [src]="i.product.imageUrl" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title ">{{ i.quantity }} x {{ i.product.title }}</h5>
            <p class="card-text">{{ i.product.price | currency:'RON ':'code'}}</p>
            <p class="card-text font-weight-bold">Total: {{ (i.product.price * i.quantity) | currency:'RON ':'code'}}</p>
        </div>
    </div>
</div>