<div class="card" *ngIf="cosDeCumparaturi.produse.length else cosDeCumparaturiGol">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h1><b>COŞUL DE CUMPĂRĂTURI</b></h1>
                    </div>
                </div>
            </div>
            <div class="row border-top border-bottom" *ngFor="let item of cosDeCumparaturi.produse">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" [src]="item.produs.imagine"
                            [routerLink]="['/produs/', item.produs.key]"></div>
                    <div class="col">
                        <div class="row text-muted">{{ item.produs.categorie }}</div>
                        <div class="row" style="font-size: 18px;">{{ item.produs.numeProdus }}</div>
                    </div>
                    <div class="col">
                        <div class="row no-gutters" style="margin-bottom: 30px;">
                            <div class="col-2">
                                <button (click)="stergeDinCos(item.produs)" class="btn btn-dark btn-block"
                                    style="width: 35px; height: 35px; font-weight: bold;">-</button>
                            </div>

                            <div class="col"
                                style="display: flex; justify-content: center; margin-left: 25px; font-size: 18px;">
                                {{ item.cantitate }}
                            </div>

                            <div class="col-2" style="max-width: 50%;">
                                <button (click)="adaugaInCos(item.produs)" class="btn btn-dark btn-block"
                                    style="width: 35px; height: 35px; font-weight: bold;">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="font-size: 18px;">{{ item.pretulTotal | currency:'RON ':'code' }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 summary">
            <rezumat-cos-de-cumparaturi></rezumat-cos-de-cumparaturi>

            <a *ngIf="cosDeCumparaturi.produse.length" routerLink="/plasare-comanda" class="btn btn-success"
                style="margin-right: 130px; margin-top: 15px;">Comandă <i class="fa fa-angle-right"></i></a>
            <button *ngIf="cosDeCumparaturi.produse.length" (click)="stergeCosulDeCumparaturi()" class="btn btn-danger"
                style="margin-top: 15px;">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>

<ng-template #cosDeCumparaturiGol>
    <h1 style="text-align: center; margin-top: 50px;">Coșul de cumpărături este gol</h1>
</ng-template>