<div class="sticky-top">
    <div class="btn-group" style="margin-bottom: 30px; margin-top: 30px;">
        <button [class.active]="!categorie" routerLink="/catalog-de-produse/" type="button" class="btn btn-success">
            Categorii
        </button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu">
            <a *ngFor="let c of categorii$ | async" routerLink="/catalog-de-produse/" [queryParams]="{ categorii: c.key }"
                class="dropdown-item" [class.active]="categorie === c.key" (click)="trimiteMesaj(p.value, p1.value)" >
                {{ c.payload.val().nume }}
            </a>
        </div>
    </div>
    <div>
        <!-- Sa iau valorile predefinite min si max din baza de date -->
        <div class="form-group">
            <label for="price1"><b>Preț minim:</b></label>
            <div class="input-group-prepend resize-inputs">
                <span class="input-group-text">RON</span>
                <input #p type="number" name="price1" id="price1" class="form-control" [(value)]="value" [(ngModel)]="value" (ngModelChange)="functieMin($event)">
            </div>
        </div>
        <div class="form-group">
            <label for="price2"><b>Preț maxim:</b></label>
            <div class="input-group-prepend resize-inputs">
                <span class="input-group-text">RON</span>
                <input #p1 type="number" name="price2" id="price2" class="form-control" [(value)]="highValue" [(ngModel)]="highValue" (ngModelChange)="functieMax($event)">
            </div>
        </div>
        <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"
            style="margin-bottom: 30px; margin-top: 30px;"></ng5-slider>
        <button (click)="trimiteMesaj(p.value, p1.value)" class="btn btn-primary"
            style="margin-bottom: 20px; margin-top: 20px;">Filtrare</button>
    </div>
</div>