<h3 class="text-center">PRODUSE FAVORITE</h3> <br>

<div *ngFor="let fav of favourites" style="margin-left: 390px;">
  <div class="card shadow h-100 text-center" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{ fav.product.title }}</h5>
      <hr>
      <div class="zoom-image h-50" style="margin-top: 5px;">
        <img src="{{ fav.product.imageUrl }}" class="card-img-top">
      </div>
      <hr>
      <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
        {{ fav.product.description }}
      </p>
      <hr>
      <p class="card-text"><b>Categoria: </b>{{ fav.product.category }} - {{ fav.product.subcategory }}</p>
      <p class="card-text"><b>{{ fav.product.price | currency:'RON ':'code' }}</b></p>
      <hr>
      <button class="btn btn-success" style="margin-right: 50px;" (click)="this.cartService.addToCart(fav.product)">
        Adauga in <i class="fas fa-shopping-cart"></i>
      </button>
      <button class="btn btn-danger" (click)="this.favouriteService.remove(fav.product)">
        <i class="fa fa-trash"></i>
        Sterge
      </button>
    </div>
  </div>
  <br>
</div>