<h1 class="text-center" style="margin-bottom: 50px;">ADMINISTRAREA COMENZILOR</h1>
<table class="table text-center">
  <thead>
    <tr>
      <th>Numele clientului</th>
      <th>Data plasarii comenzii</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.firstName }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <a [routerLink]="['/admin/orders/', order.key]">Mai multe detalii</a>
      </td>
    </tr>
  </tbody>
</table>