<div class="row">
    <div class="col-6">
        <h3>DATELE LIVRĂRII<small>*</small></h3><br>
        <form>
            <div class="form-group">
                <label for="prenume">Prenume</label>
                <input #prenume="ngModel" [(ngModel)]="utilizator.prenume" name="prenume" id="prenume" type="text"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="prenume.touched && prenume.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="nume">Nume</label>
                <input #nume="ngModel" [(ngModel)]="utilizator.nume" name="nume" id="nume" type="text"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="nume.touched && nume.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" [(ngModel)]="utilizator.email" name="email" id="email" type="email"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="oras">Oraș</label>
                <input #oras="ngModel" [(ngModel)]="utilizator.oras" name="oras" id="oras" type="text" class="form-control"
                    required>
                <div class="alert alert-danger" *ngIf="oras.touched && oras.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="adresa">Adresă</label>
                <input #adresa="ngModel" [(ngModel)]="utilizator.adresa" name="adresa" id="adresa" type="text"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="adresa.touched && adresa.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="codPostal">Cod poștal</label>
                <input #codPostal="ngModel" [(ngModel)]="utilizator.codPostal" name="codPostal" id="codPostal"
                    type="number" class="form-control" required>
                <div class="alert alert-danger" *ngIf="codPostal.touched && codPostal.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <small>*Folosiți datele din contul dumneavoastră sau introduceți alte date de livrare.</small><br><br>

            <button type="button" (click)="plaseazaComanda()" class="btn btn-primary"
                style="margin-right:10px; width: 100%;">Plată la ramburs</button><br><br>
            <div #paypal (click)="plaseazaComanda()"></div>
            <button type="button" (click)="inapoi()" class="btn btn-secondary" style="margin-top:10px;">
                Înapoi la coșul de cumpărături    
            </button>
        </form>
    </div>

    <div class="col-6">
        <rezumat-cos-de-cumparaturi></rezumat-cos-de-cumparaturi>
    </div>
</div>