<h1 class="text-center" style="margin-bottom: 50px;">ADMINISTRARE PRODUSE</h1>
<p>
    <a routerLink="/admin/products/new" class="btn btn-success"> <i class="fa fa-plus"></i>&nbsp;PRODUS</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Căutare...">
</p>
<data-table [items]="elemente" [itemCount]="evidentaElementelor" (reload)="reloadItems($event)">
    <data-table-column [property]="'title'" [header]="'Numele produsului'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'category'" [header]="'Categoria'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'price'" [header]="'Prețul'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{ item.price | currency:'RON ':'code' }}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'$key'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/', item.key]">Mai multe detalii</a>
        </ng-template>
    </data-table-column>
</data-table>