<h1 class="text-center">Reviews</h1><br>
<div *ngFor="let recenzie of reviews" style="margin-left: 390px;">
    <div class="card shadow h-100" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">{{ recenzie.produs.title }}</h5>
            <div class="zoom-image h-50" style="margin-top: 5px;">
                <img src="{{ recenzie.produs.imageUrl }}" class="card-img-top">
            </div>
            <p class="card-text">{{ recenzie.recenzie.continut }}</p>
            <hr>
            <ngb-rating #stea [(rate)]="recenzie.recenzie.stele" [max]="5" readonly=true></ngb-rating>
            <pre>Rate: <b>{{recenzie.recenzie.stele}}</b></pre>
            <p>{{ recenzie.user?.username }}</p>
            <!-- <a [routerLink]="['/recenzii/', recenzie.recenzie.key]" [state]="recenzie" style="margin-right: 100px;">Edit Review</a> -->
            <button class="btn btn-danger" (click)="this.recenziiService.delete(recenzie.produs.key, recenzie.recenzie.key)">
                <i class="fa fa-trash"></i> Remove
            </button>
        </div>
    </div>
    <br>
</div>