a{
    text-decoration: none;
}

.suggestion{
    width: 100%; 
    background-color: rgb(238, 238, 238);
    padding: 5px 10px;
}

.suggestion:hover{
    background: rgb(202, 202, 202);
}

.searchDropdown{
    color:black; 
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid green;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 20px;
    z-index: 2;
    cursor: context-menu;
  }