<div style="width: 100%; margin-bottom: 20px; position: relative;">
    <input #cadereMeniu [(ngModel)]="cautare" type="text" placeholder="Căutare..." style="width: 100%;"
        (click)="ascundeSugestii = false">
    <div #meniu style="position: absolute; top: 100%; z-index: 10000; width: 100%;">
        <div *ngFor="let p of produseFiltrate; let i = index">
            <div *ngIf="cautare && ascundeSugestii == false">
                <div *ngIf="p.numeProdus.toLowerCase().includes(cautare.toLowerCase())" class="suggestion">
                    <a href="#" onclick="return false;" (click)="stabilireCautare(p.numeProdus)" class="searchDropdown">
                        {{ p.numeProdus }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <filtru-produse [categorie]="categorie" (evenimentPret)="primesteFiltru($event)"></filtru-produse>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let p of produseFiltrate; let i = index">
                <div *ngIf="cautare; else faraFiltru">
                    <div *ngIf="p.numeProdus.toLowerCase().includes(cautare.toLowerCase())"
                        class="col-lg d-flex align-items-stretch">
                        <produse [produs]="p" [cosDeCumparaturi]="cosDeCumparaturi"></produse>
                    </div>
                    <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
                </div>
                <ng-template #faraFiltru>
                    <div class="col-lg d-flex align-items-stretch">
                        <produse [produs]="p" [cosDeCumparaturi]="cosDeCumparaturi"></produse>
                    </div>
                </ng-template>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>