<h1 class="text-center" style="margin-bottom: 50px;">DETALII UTILIZATOR</h1>
<img [src]="utilizator.payload.val().img" class="img-thumbnail">
<div class="row">
    <table class="table">
        <tr>
            <th>Prenume</th>
            <td>{{ utilizator.payload.val().prenume }}</td>
        </tr>
        <tr>
            <th>Nume</th>
            <td>{{ utilizator.payload.val().nume }}</td>
        </tr>
        <tr>
            <th>Nume de utilizator</th>
            <td>{{ utilizator.payload.val().numeUtilizator }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ utilizator.payload.val().email }}</td>
        </tr>
        <tr>
            <th>Oraș</th>
            <td>{{ utilizator.payload.val().oras }}</td>
        </tr>
        <tr>
            <th>Adresă</th>
            <td>{{ utilizator.payload.val().adresa }}</td>
        </tr>
        <tr>
            <th>Cod poștal</th>
            <td>{{ utilizator.payload.val().codPostal }}</td>
        </tr>
    </table>
</div>

<form #f="ngForm" (ngSubmit)="salvareModificari(f.value)" style="margin-top: 60px;">
    <div class="form-group">
        <label for="rolAdministrator">Rol de administrator</label>
        <select #rolAdministrator="ngModel" [(ngModel)]="utilizator.payload.val().rolAdministrator" name="rolAdministrator" id="rolAdministrator" type="number"
            class="form-control" required>
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
        </select>
        <div class="alert alert-danger" *ngIf="rolAdministrator.touched && rolAdministrator.invalid">
            Acest câmp este obligatoriu.
        </div>
    </div>

    <div style="margin-top: 60px;">
        <button class="btn btn-primary" style="margin-right:10px;">Salvează</button>
        <button type="button" (click)="stergeUtilizator()" class="btn btn-danger" style="margin-right:10px;">Şterge</button>
        <button type="button" (click)="inapoi()" class="btn btn-secondary" style="margin-right:10px;">Anulează</button>
    </div>
</form>