<div class="row">
    <table class="table">
        <tr>
            <th>Prenume</th>
            <td>{{ users.payload.val().firstName }}</td>
        </tr>
        <tr>
            <th>Nume</th>
            <td>{{ users.payload.val().lastName }}</td>
        </tr>
        <tr>
            <th>Nume de utilizator</th>
            <td>{{ users.payload.val().username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ users.payload.val().email }}</td>
        </tr>
        <tr>
            <th>Oras</th>
            <td>{{ users.payload.val().city }}</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>{{ users.payload.val().address }}</td>
        </tr>
        <tr>
            <th>Cod postal</th>
            <td>{{ users.payload.val().postalCode }}</td>
        </tr>
    </table>
</div>

<form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
        <label for="isAdmin">Rol de administrator</label>
        <select #isAdmin="ngModel" [(ngModel)]="users.payload.val().isAdmin" name="isAdmin" id="isAdmin" type="number"
            class="form-control" required>
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
        </select>
        <div class="alert alert-danger" *ngIf="isAdmin.touched && isAdmin.invalid">
            Acest camp este obligatoriu.
        </div>
    </div>

    <button class="btn btn-primary" style="margin-right:10px;">Salveaza</button>
    <button type="button" (click)="delete()" class="btn btn-danger" style="margin-right:10px;">Sterge</button>
    <button type="button" (click)="cancel()" class="btn btn-secondary" style="margin-right:10px;">Anuleaza</button>
</form>