<div class="position-relative overflow-hidden text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-2 font-weight">S <i class="far fa-handshake"></i> H</h1><br>
        <p class="lead font-weight-normal">
            Marfă de cea mai bună calitate. De la haine la dispozitive electronice, 
            nimic nu ne împiedică să aducem cele mai bune lucruri doar pentru tine și la un preț foarte bun. Ce mai aștepți?
        </p>
        <a class="btn btn-outline-secondary" routerLink="/">Vezi si tu!</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Cele mai vizitate produse. <span class="text-muted">Pe placul tuturor.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
                style="width: 100%; height: 100%;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <ng-container *ngFor="let product of celeMaiVizitateProduse; let i = index">
                        <div class="carousel-item" [ngClass]="{active: i == indexSelectat}">
                            <img class="d-block w-100" src="{{ product.imageUrl }}" alt="First slide"
                                style="opacity: 0.8;">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 style="color:rgb(0, 0, 0);"><b>{{ product.title }}</b></h1>
                                <h3 style="color:rgb(0, 0, 0);"><b>{{ product.price | currency:'RON ':'code' }}</b></h3>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
                    style="background-color: rgba(92, 80, 80, 0.5);">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
                    style="background-color: rgba(92, 80, 80, 0.5);">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Ultimele produse vizitate. <span class="text-muted">La un click distanță!</span></h2>
            <p class="lead">
                Cele mai bune produse pentru clienții noștri. Cel mai bun magazin second-hand din oraș, dacă nu ne crezi, vezi și tu!
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel"
                style="width: 100%; height: 100%;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <ng-container *ngFor="let product of ultimeleProduseVizitate; let i = index">
                        <div class="carousel-item" [ngClass]="{active: i == indexSelectat1}">
                            <img class="d-block w-100" src="{{ product.imageUrl }}" alt="First slide"
                                style="opacity: 0.8;">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 style="color:black"><b>{{ product.title }}</b></h1>
                                <h3 style="color:black"><b>{{ product.price | currency:'RON ':'code' }}</b></h3>
                            </div>
                        </div>
                        <!-- 
            - Carousel-ul respectv functioneaza asa: dintre toate slideurile pe care le are unu dintre ele trebuie neaparat sa 
            implementeze clasa active (doar unu !!!!!).
            - ngClass - e o propr angular pt clase de stilizare, ne permite sa facem o atribuire de o clasa de stiluri pe un 
            anumit div in functie de o conditie anume if i = selected inde atunci aplica pe div-ul asta clasa active.
            - De aia am folosit index pt ca m-am folosit de pozitia in array-ul de produse ca sa stiu care-i selected indexul din ts.
            Am avut nevoie de o conditie ca sa pot sa aplic active pe un div (pe unul din elem.).
        -->
                    </ng-container>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev"
                    style="background-color: rgba(92, 80, 80, 0.5);">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next"
                    style="background-color: rgba(92, 80, 80, 0.5);">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Recenzii.</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <hr class="featurette-divider">
</div>

<footer class="container">
    <p>&copy; 2019-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>