<h1 style="margin-bottom: 30px;">Shopping Cart</h1>
<div class="row col-10">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center" style="width: 230px">Quantity</th>
                <th class="text-left" style="width: 230px">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail" alt=""></div>
                </td>
                <td>
                    <h4>{{ item.product.title }}</h4>
                    <p>{{ item.product.category }}</p>
                </td>
                <td>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <button (click)="removeFromCart(item.product)" class="btn btn-primary btn-block">-</button>
                        </div>

                        <div class="col text-center">
                            {{ item.quantity }} in cart
                        </div>

                        <div class="col-2">
                            <button (click)="addToCart(item.product)" class="btn btn-primary btn-block">+</button>
                        </div>
                    </div>
                </td>
                <td class="text-left">{{ item.totalPrice | currency:'RON ':'code' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right"></td>
                <td></td>
                <td class="text-center"><b>Total:</b> {{ cart.totalPrice | currency:'RON ':'code' }}
                </td>
                <td>
                    <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-success"
                        style="margin-right: 20px;">Check Out <i class="fa fa-angle-right"></i></a>
                    <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>