<p>
    <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search by email...">
</p>



<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
    <data-table-column
        [property]="'username'"
        [header]="'Username'"
        [sortable]="true"
        [resizable]="true"
    >
    </data-table-column>

    <data-table-column
        [property]="'isAdmin'"
        [header]="'Admin Power'"
        [sortable]="true"
        [resizable]="true"
    >

    </data-table-column>

    <data-table-column
        [property]="'email'"
        [header]="'Users Email'"
        [sortable]="true"
        [resizable]="true"
    >
    </data-table-column>

    <data-table-column
        [property]="'$key'"
    >
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/users/', item.key]">View More</a>
        </ng-template>
    </data-table-column>
</data-table>