<div>
  <h3>Detalii de livrare</h3> <br>
  <table class="table">
    <tr>
      <th>Prenume</th>
      <td>{{ order.payload.val().shipping.firstName }}</td>
    </tr>
    <tr>
      <th>Nume</th>
      <td>{{ order.payload.val().shipping.lastName }}</td>
    </tr>
    <tr>
      <th>Nume de utilizator</th>
      <td>{{ order.payload.val().shipping.username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ order.payload.val().shipping.email }}</td>
    </tr>
    <tr>
      <th>Oraș</th>
      <td>{{ order.payload.val().shipping.city }}</td>
    </tr>
    <tr>
      <th>Adresă</th>
      <td>{{ order.payload.val().shipping.address }}</td>
    </tr>
    <tr>
      <th>Cod poștal</th>
      <td>{{ order.payload.val().shipping.postalCode }}</td>
    </tr>
  </table>
</div>
<br><br>
<hr style="background-color: chocolate;">

<div style="margin-top: 50; margin-bottom: 50px;">
  <h3>Starea comenzii</h3> <br>
  <table class="table">
    <tr>
      <th>Starea comenzii</th>
      <td>{{ order.payload.val().orderStatus }}</td>
    </tr>
  </table>
  <hr>
</div>

<hr style="background-color: chocolate;">

<h3>Produse comandate</h3> <br>
<div class="card-group">

  <div class="card col-md-3 col-lg-3 d-flex align-items-stretch" style="width: 18rem; margin-right: 50px;"
    *ngFor="let i of order2; let j = index">
    <img [src]="i.product.imageUrl" class="card-img-top" [routerLink]="['/products/', i.product.key]">
    <div class="card-body">
      <h5 class="card-title ">{{ i.quantity }} x {{ i.product.title }}</h5>
      <p class="card-text">{{ i.product.price | currency:'RON ':'code'}}</p>
      <p class="card-text font-weight-bold">Total: {{ (i.product.price * i.quantity) | currency:'RON ':'code'}}
      </p>
      <textarea #recenzie name="recenzie" cols="20" rows="5"></textarea>
      <ngb-rating [(rate)]="currentRates[j]" [max]="5"></ngb-rating>
      <hr>
      <pre>Evaluare: <b>{{currentRates[j]}}</b></pre>
      <button (click)="adaugaRecenzie(recenzie.value, i, currentRates[j])">Adaugă Recenzie</button>
    </div>
  </div>
</div>

<button type="button" (click)="back()" class="btn btn-secondary" style="margin-top:10px;">Înapoi</button>