<div class="card shadow h-100 text-center" style="width: 20rem;">
    <div class="zoom-image h-50" style="margin-top: 5px;">
        <img src="{{ product.payload.val().imageUrl }}" class="card-img-top">
    </div>

    <div class="card-body h-30">
        <hr>
        <h5 class="card-title">{{ product.payload.val().title }}</h5>
        <p class="card-text">{{ product.payload.val().category }} - {{ product.payload.val().subcategory }}</p>
        <p class="card-text">{{ product.payload.val().color }}</p>
        <p class="card-text">{{ product.payload.val().price | currency:'RON ':true }}</p>
    </div>
    <div class="card-footer h-5">
        <button (click)="addToCart()" class="btn btn-primary btn-block">Add to
            Cart</button>
    </div>
</div>