<h1 class="text-center" style="margin-bottom: 50px;">ADMINISTRARE UTILIZATORI</h1>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Căutare prin email...">
</p>
<data-table [items]="elemente" [itemCount]="numarElemente" (reload)="actualizareElemente($event)">
    <data-table-column [property]="'numeUtilizator'" [header]="'Nume de utilizator'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'rolAdministrator'" [header]="'Rol de administrator'" [sortable]="true" [resizable]="true">

    </data-table-column>

    <data-table-column [property]="'email'" [header]="'Email'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'$key'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/administrator/utilizatori/', item.key]">Mai multe detalii</a>
        </ng-template>
    </data-table-column>
</data-table>