<form class="form-group">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" #username required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="First Name" #userFirstName>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Last Name" #userLastName>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" #displayName>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" #email>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" #password>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="City" #userCity>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Address" #userAddressOne>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Postal Code" #userPostalCode>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary"
      (click)="auth.signUp(email.value, password.value, username.value, userFirstName.value, userLastName.value, userCity.value, userAddressOne.value, userPostalCode.value)">Sign
      Up</button>
  </div>
</form>

