<form  class="form-group">
  <div class="form-group">
     <input type="text" class="form-control" placeholder="First Name" #userFirstName formControlName="firstName" required>
  </div>
 <div class="form-group">
    <input type="text" class="form-control" placeholder="Last Name" #userLastName formControlName="lastName" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" #displayName formControlName="displayName" required>
  </div>                        
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" #email formControlName="email" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" #password formControlName="password" required>
  </div>
  <!-- <div class="form-group">
    <input type="text" class="form-control" placeholder="Address" #userAddressOne formControlName="addressOne" required>
  </div>       -->
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="auth.signUp(email.value, password.value, userFirstName.value, userLastName.value)">Sign Up</button>
  </div>
  <div class="form-group">
    <span class="or"><span class="orInner">Or</span></span>
  </div>
<!-- Continue with Google -->
  <div class="form-group">
    <button type="button" class="btn googleBtn" (click)="auth.login()">
      <i class="fa fa-google-plus"></i>
    Continue with Google
    </button>
  </div>
<!-- Continue with Facebook -->
  <!-- <div class="form-group">
    <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
      <i class="fa fa-facebook"></i>
    Continue with Facebook
    </button>
  </div> -->
</form>