<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="salveazaProdus(f.value)">
            <div class="form-group">
                <label for="numeProdus">Numele produsului</label>
                <input #numeProdus="ngModel" ngModel name="numeProdus" id="numeProdus" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="numeProdus.touched && numeProdus.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="descriere">Descrierea</label>
                <textarea #descriere="ngModel" ngModel name="descriere" id="descriere" cols="20" rows="5"
                    class="form-control" required></textarea>
                <div class="alert alert-danger" *ngIf="descriere.touched && descriere.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="pret">Prețul</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">RON</span>
                    <input #pret="ngModel" ngModel name="pret" id="pret" type="number" class="form-control" required>
                </div>
                <div class="alert alert-danger" *ngIf="pret.touched && pret.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="categorie">Categorie</label>
                <select #cat #categorie="ngModel" ngModel name="categorie" id="categorie" class="form-control" required>
                    <option *ngFor="let c of categorii$ | async" [value]="c.key">
                        {{ c.payload.val().nume }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="categorie.touched && categorie.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div *ngIf="categorie.valid" class="form-group">
                <label for="subcategorie">Subcategorie</label>
                <select #subcategorie="ngModel" ngModel name="subcategorie" id="subcategorie" class="form-control"
                    required>
                    <option *ngFor="let s of subcategoriiFiltrate(cat.selectedOptions[0].value)" [value]="s.payload.val().nume">
                        {{ s.payload.val().nume }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="subcategorie.touched && subcategorie.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="culoare">Culoare</label>
                <select #culoare="ngModel" ngModel name="culoare" id="culoare" class="form-control" required>
                    <option *ngFor="let c of culori$ | async" [value]="c.payload.val().nume">
                        {{ c.payload.val().nume }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="culoare.touched && culoare.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="imagine">Imaginea</label>
                <input #imagine="ngModel" ngModel name="imagine" id="imagine" type="text" class="form-control"
                    required>
                <div class="alert alert-danger" *ngIf="imagine.touched && imagine.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <button class="btn btn-primary" [disabled]="f.invalid" style="margin-right:10px;">Salvează</button>
            <button type="button" (click)="inapoi()" class="btn btn-secondary">Anulează</button>
        </form>
    </div>

    <div class="col-md-6">
        <div class="card text-center" style="width: 18rem;" *ngIf="f.touched">
            <img [src]="imagine.value" class="card-img-top">
            <div class="card-body">
                <hr>
                <h3 class="card-title">{{ numeProdus.value }}</h3>
                <hr>
                <p class="card-text">{{ descriere.value }}</p>
                <hr>
                <p *ngIf="categorie.touched" class="card-text"><b>Categorie:</b> {{ categorie.value }}</p>
                <hr>
                <p *ngIf="culoare.touched" class="card-text"><b>Culoare:</b> {{ culoare.value }}</p>
                <hr>
                <p class="card-text"><b>{{ pret.value | currency:'RON ':'code' }}</b></p>
            </div>
        </div>
    </div>
</div>