<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="salveazaProdus(f.value)">
            <div class="form-group">
                <label for="title">Numele produsului</label>
                <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Descrierea</label>
                <textarea #description="ngModel" ngModel name="description" id="description" cols="20" rows="5"
                    class="form-control" required></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="price">Prețul</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">RON</span>
                    <input #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required>
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="category">Categoria</label>
                <select #cat #category="ngModel" ngModel name="category" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categorii$ | async" [value]="c.key">
                        {{ c.payload.val().name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div *ngIf="category.valid" class="form-group">
                <label for="subcategory">Subcategoria</label>
                <select #subcategory="ngModel" ngModel name="subcategory" id="subcategory" class="form-control"
                    required>
                    <option *ngFor="let s of subcategoriiFiltrate(cat.selectedOptions[0].value)" [value]="s.key">
                        {{ s.payload.val().name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="subcategory.touched && subcategory.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="colors">Culoarea</label>
                <select #colors="ngModel" ngModel name="color" id="colors" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of culori$ | async" [value]="c.key">
                        {{ c.payload.val().name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="colors.touched && colors.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <div class="form-group">
                <label for="imageUrl">Imaginea</label>
                <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control"
                    required>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    Acest câmp este obligatoriu.
                </div>
            </div>

            <button class="btn btn-primary" [disabled]="f.invalid" style="margin-right:10px;">Salvează</button>
            <button type="button" (click)="inapoi()" class="btn btn-secondary">Anulează</button>
        </form>
    </div>

    <div class="col-md-6">
        <div class="card text-center" style="width: 18rem;" *ngIf="f.touched">
            <img [src]="imageUrl.value" class="card-img-top">
            <div class="card-body">
                <hr>
                <h3 class="card-title">{{ title.value }}</h3>
                <hr>
                <p class="card-text">{{ description.value }}</p>
                <hr>
                <p *ngIf="category.touched" class="card-text"><b>Categoria:</b> {{ category.value }}</p>
                <hr>
                <p *ngIf="colors.touched" class="card-text"><b>Culoarea:</b> {{ colors.value }}</p>
                <hr>
                <p class="card-text"><b>{{ price.value | currency:'RON ':'code' }}</b></p>
            </div>
        </div>
    </div>
</div>