<h1 style="margin-bottom: 50px" class="text-center">COMENZILE MELE</h1>
<table class="table text-center">
  <thead>
    <tr>
      <th>Nume de utilizator</th>
      <th>Data plasării comenzii</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comanda of comenzi$ | async">
      <td>{{ comanda.dateDeLivrare.username }}</td>
      <td>{{ comanda.dataPlasarii | date}}</td>
      <td>
        <a [routerLink]="['/comenzile-mele/', comanda.key]">Mai multe detalii</a>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" (click)="inapoi()" class="btn btn-secondary" style="margin-top:10px;">Înapoi la catalogul de produse</button>