<div class="row">
    <div class="col-3">
        <product-filter [category]="category" (priceEvent)="receiveFilter($event)"></product-filter>
    </div>

    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col-lg d-flex align-items-stretch">
                    <product-card [product]="p" [shopping-cart]="cart"></product-card>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>

<br><br><br>

<!-- <div>
    <div *ngFor="let product of mostVisitedProducts" class="card shadow h-100"
        style="width: 20rem; display:inline-block">
        <div class="zoom-image">
            <img src="{{ product.imageUrl }}" class="card-img-top">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price | currency:'RON ':'code' }}</p>
        </div>
    </div>
</div>

<br><br><br>
<div>
    <div *ngFor="let product of lastVisitedProducts" class="card shadow h-100"
        style="width: 20rem; display:inline-block">
        <div class="zoom-image">
            <img src="{{ product.imageUrl }}" class="card-img-top">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price | currency:'RON ':'code' }}</p>
        </div>
    </div>
</div> -->

