<div style="width: 100%; margin-bottom: 20px; position: relative;">
    <input [(ngModel)]="search" type="text" placeholder="Search..." style="width: 100%;" (click)="hideSearchDropDown = false">
    <div style="position: absolute; top: 100%; z-index: 10000; width: 100%;">
        <div *ngFor="let p of filteredProducts; let i = index">
            <div *ngIf="search && hideSearchDropDown == false">
                <div *ngIf="p.title.toLowerCase().includes(search.toLowerCase())"
                    style="width: 100%; background-color: grey;">
                    <a href="#" onclick="return false;" (click)="setSearch(p.title)">{{ p.title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <product-filter [category]="category" (priceEvent)="receiveFilter($event)"></product-filter>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div *ngIf="search; else noFilter">
                    <div *ngIf="p.title.toLowerCase().includes(search.toLowerCase())"
                        class="col-lg d-flex align-items-stretch">
                        <product-card [product]="p" [shopping-cart]="cart"></product-card>
                    </div>
                    <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
                </div>
                <ng-template #noFilter>
                    <div class="col-lg d-flex align-items-stretch">
                        <product-card [product]="p" [shopping-cart]="cart"></product-card>
                    </div>
                </ng-template>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>