<div style="margin-bottom: 50px;">
    <h3>Detalii de livrare</h3> <br>
    <table class="table">
        <tr>
            <th>Prenume</th>
            <td>{{ comanda.payload.val().dateDeLivrare.prenume }}</td>
        </tr>
        <tr>
            <th>Nume</th>
            <td>{{ comanda.payload.val().dateDeLivrare.nume }}</td>
        </tr>
        <tr>
            <th>Nume de utilizator</th>
            <td>{{ comanda.payload.val().dateDeLivrare.numeUtilizator }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ comanda.payload.val().dateDeLivrare.email }}</td>
        </tr>
        <tr>
            <th>Oraș</th>
            <td>{{ comanda.payload.val().dateDeLivrare.oras }}</td>
        </tr>
        <tr>
            <th>Adresă</th>
            <td>{{ comanda.payload.val().dateDeLivrare.adresa }}</td>
        </tr>
        <tr>
            <th>Cod poștal</th>
            <td>{{ comanda.payload.val().dateDeLivrare.codPostal }}</td>
        </tr>
    </table>
</div>

<hr style="background-color: chocolate;">

<div style="margin-top: 50; margin-bottom: 50px;">
    <h3>Starea comenzii</h3> <br>
    <form #form="ngForm" (ngSubmit)="actualizareComanda(form.value)">
        <div class="form-group">
            <label for="stareaComenzii"><b>Starea comenzii</b> - {{ comanda.payload.val().stareaComenzii }}</label>
            <select #stareaComenzii="ngModel" ngModel name="stareaComenzii" id="stareaComenzii" class="form-control" required>
                <option *ngFor="let c of stareaComenzii$ | async" [value]="c.payload.val().descriere">
                    {{ c.payload.val().nume }} - {{ c.payload.val().descriere }}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="stareaComenzii.touched && stareaComenzii.invalid">Acest camp este obligatoriu.</div>
        </div>
        <button class="btn btn-primary" [disabled]="form.invalid" style="margin-right:10px;">Actualizare</button>
    </form>
</div>

<hr style="background-color: chocolate;">

<h3 style="margin-top: 50;">Produse comandate</h3> <br>
<div class="card-group">
    <div class="card col-md-3 col-lg-3 d-flex align-items-stretch" style="width: 18rem;" *ngFor="let i of comanda2">
        <img [src]="i.produs.imagine" class="card-img-top" [routerLink]="['/produs/', i.produs.key]">
        <div class="card-body">
            <h5 class="card-title ">{{ i.cantitate }} x {{ i.produs.numeProdus }}</h5>
            <p class="card-text">{{ i.produs.pret | currency:'RON ':'code'}}</p>
            <p class="card-text font-weight-bold">Total: {{ (i.produs.pret * i.cantitate) | currency:'RON ':'code'}}</p>
        </div>
    </div>
</div>
<button type="button" (click)="inapoi()" class="btn btn-secondary" style="margin-top:10px;">
    Înapoi   
</button>