<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>First Name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{ user.postalCode }}</td>
            </tr>
        </table>
        <form class="md-form">
            <img [src]="imageSrc">
            <div class="file-field" (click)="swhoPreview($event)">
              <div class="btn btn-primary btn-sm float-left" >
                <input type="file" >
              </div>
              
            </div>
          </form>
    </div>

    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <!-- <img [src]="product.payload.val().imageUrl" class="card-img-top" *ngIf="product.payload.val().imageUrl"> -->
            <div class="card-body">
                <h3 class="card-title">{{  user.firstName }} {{ user.lastName }}</h3>
                <h5>{{ user.username }}</h5>
                <p class="card-text">{{ user.city }}</p>
                <p class="card-text">{{ user.email }}</p>
            </div>
        </div>
    </div>
</div>