<form class="form-group">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nume de utilizator" #numeUtilizator required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Prenume" #prenume>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nume" #nume>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Adresă de email" #email>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Parolă" #parola>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Oraș" #oras>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Adresă" #adresa>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Cod poștal" #codPostal>
  </div>
  <div class="form-group">
    <h5>Alege o imagine</h5>
    <input type="file" accept=".png, .jpg" class="form-control" (change)="incarcareImagine($event)">
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
      [style.width]="(uploadPercent | async) + '%'">
    </div>
  </div>
  <input #imagineUtilizator type="hidden" [value]="urlImagine | async">
  <img [src]="urlImagine" class="img-thumbnail">
  <div class="form-group">
    <button *ngIf="urlImagine; else btnDisabled" type="button" class="btn btn-primary"
      (click)="serviciuDeAutentificare.inregistrareUtilizatorNou(email.value, parola.value, numeUtilizator.value, prenume.value, nume.value, oras.value, adresa.value, codPostal.value, urlImagine)">
      Înregistrare
    </button>
    <ng-template #btnDisabled>
      <button type="button" disabled=true class="btn btn-primary"
        (click)="serviciuDeAutentificare.inregistrareUtilizatorNou(email.value, parola.value, numeUtilizator.value, prenume.value, nume.value, oras.value, adresa.value, codPostal.value, urlImagine)">
        Înregistrare
      </button>
    </ng-template>
  </div>
</form>