<form class="form-group">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nume de utilizator" #username required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Prenume" #userFirstName>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nume" #userLastName>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Adresă de email" #email>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Parolă" #password>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Oraș" #userCity>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Adresă" #userAddressOne>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Cod poștal" #userPostalCode>
  </div>
  <div class="form-group">
    <h5>Alege o imagine</h5>
    <input type="file" accept=".png, .jpg" class="form-control" (change)="onUpload($event)">
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
      [style.width]="(uploadPercent | async) + '%'">
    </div>
  </div>
  <input #imageUser type="hidden" [value]="urlImage | async">
  <img [src]="urlImage" class="img-thumbnail">
  <div class="form-group">
    <button *ngIf="urlImage; else btnDisabled" type="button" class="btn btn-primary"
      (click)="auth.inregistrareUtilizatorNou(email.value, password.value, username.value, userFirstName.value, userLastName.value, userCity.value, userAddressOne.value, userPostalCode.value, urlImage)">
      Înregistrare</button>
    <ng-template #btnDisabled>
      <button type="button" disabled=true class="btn btn-primary"
        (click)="auth.inregistrareUtilizatorNou(email.value, password.value, username.value, userFirstName.value, userLastName.value, userCity.value, userAddressOne.value, userPostalCode.value, urlImage)">
        Înregistrare</button>
    </ng-template>
  </div>
</form>